## Deliverable 2. Create a Customer Travel Destinations Map.

In [15]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [16]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Morant Bay,JM,2020-05-13 19:42:49,17.88,-76.41,87.80,66,20,20.80
1,1,Rikitea,PF,2020-05-13 19:38:07,-23.12,-134.97,77.85,86,7,14.05
2,2,Busselton,AU,2020-05-13 19:42:49,-33.65,115.33,50.00,70,0,5.75
3,3,Mezhdurechensk,RU,2020-05-13 19:42:49,53.69,88.06,55.71,71,100,2.35
4,4,Ulladulla,AU,2020-05-13 19:42:49,-35.35,150.47,52.00,100,40,11.41

In [17]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is your desired minimum temperature for your trip?"))
max_temp = float(input("What is your desired maximum temperature for your trip?"))

What is your desired minimum temperature for your trip?77
What is your desired maximum temperature for your trip?100

In [18]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] >= min_temp) &
                                    (city_data_df["Max Temp"] <=max_temp)]

preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Morant Bay,JM,2020-05-13 19:42:49,17.88,-76.41,87.80,66,20,20.80
1,1,Rikitea,PF,2020-05-13 19:38:07,-23.12,-134.97,77.85,86,7,14.05
9,9,Baldeogarh,IN,2020-05-13 19:42:50,24.75,79.07,87.49,23,0,3.15
10,10,Taoudenni,ML,2020-05-13 19:42:50,22.68,-3.98,93.15,11,0,8.75
14,14,Butaritari,KI,2020-05-13 19:42:50,3.07,172.79,83.48,80,3,13.27
21,21,Faanui,PF,2020-05-13 19:38:03,-16.48,-151.75,81.79,76,9,16.04
23,23,Sangin,AF,2020-05-13 19:42:51,32.07,64.84,81.64,20,100,5.82
34,34,Malakal,SS,2020-05-13 19:42:52,9.53,31.66,92.26,36,0,5.44
43,43,Buala,SB,2020-05-13 19:42:53,-8.14,159.59,81.34,80,100,7.20
46,46,Santa,PH,2020-05-13 19:42:54,17.49,120.43,81.28,72,100,3.91

In [19]:
# 4a. Determine if there are any empty rows.
#preferred_cities_df.isnull().sum
preferred_cities_df.count()

City_ID       181
City          181
Country       181
Date          181
Lat           181
Lng           181
Max Temp      181
Humidity      181
Cloudiness    181
Wind Speed    181
dtype: int64

In [20]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Morant Bay,JM,2020-05-13 19:42:49,17.88,-76.41,87.80,66,20,20.80
1,1,Rikitea,PF,2020-05-13 19:38:07,-23.12,-134.97,77.85,86,7,14.05
9,9,Baldeogarh,IN,2020-05-13 19:42:50,24.75,79.07,87.49,23,0,3.15
10,10,Taoudenni,ML,2020-05-13 19:42:50,22.68,-3.98,93.15,11,0,8.75
14,14,Butaritari,KI,2020-05-13 19:42:50,3.07,172.79,83.48,80,3,13.27
21,21,Faanui,PF,2020-05-13 19:38:03,-16.48,-151.75,81.79,76,9,16.04
23,23,Sangin,AF,2020-05-13 19:42:51,32.07,64.84,81.64,20,100,5.82
34,34,Malakal,SS,2020-05-13 19:42:52,9.53,31.66,92.26,36,0,5.44
43,43,Buala,SB,2020-05-13 19:42:53,-8.14,159.59,81.34,80,100,7.20
46,46,Santa,PH,2020-05-13 19:42:54,17.49,120.43,81.28,72,100,3.91

In [22]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"]=""
hotel_df.head(10)

          City Country  Max Temp    Lat     Lng Hotel Name
0   Morant Bay      JM     87.80  17.88  -76.41
1      Rikitea      PF     77.85 -23.12 -134.97
9   Baldeogarh      IN     87.49  24.75   79.07
10   Taoudenni      ML     93.15  22.68   -3.98
14  Butaritari      KI     83.48   3.07  172.79
21      Faanui      PF     81.79 -16.48 -151.75
23      Sangin      AF     81.64  32.07   64.84
34     Malakal      SS     92.26   9.53   31.66
43       Buala      SB     81.34  -8.14  159.59
46       Santa      PH     81.28  17.49  120.43

In [23]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat}, {lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
#     print(hotels)
    
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    
    except (IndexError):
        print("Cannot find hotel...skipping.")

Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.

In [24]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df[hotel_df["Hotel Name"]!=""]
clean_hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Morant Bay,JM,87.80,17.88,-76.41,Whispering Bamboo Cove Resort
1,Rikitea,PF,77.85,-23.12,-134.97,Pension Maro'i
9,Baldeogarh,IN,87.49,24.75,79.07,ChhChhotChhChhotu
14,Butaritari,KI,83.48,3.07,172.79,Isles Sunset Lodge
21,Faanui,PF,81.79,-16.48,-151.75,Bora-Bora Pearl Beach Resort & Spa
...,...,...,...,...,...,...
557,Tecoanapa,MX,88.23,16.52,-98.75,Hotel Manglares
561,Kualakapuas,ID,80.60,-3.01,114.39,Guest House Izonk
572,Cajazeiras,BR,79.63,-6.89,-38.56,Oasis Hotel
574,Pascagoula,US,84.99,30.37,-88.56,Regency Inn
576,Batticaloa,LK,81.30,7.71,81.69,Grand Star Guest House

In [25]:
# 8a. Create the output File (CSV)
output_data_file = "weatherpy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [26]:
# 9. Using the template add city name, the country code, 
#the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [27]:
# Lesson 6.5.4
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

#heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, point_radius=4)
#marker_layer = gmaps.marker_layer(locations)
#fig.add_layer(heat_layer)


# 11b. Display the figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))