## Deliverable 3. Create a Travel Itinerary Map.

In [13]:
# Dependencies and Setup
import pandas as pd
import requests 
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [14]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/weatherpy_vacation.csv")
vacation_df

,City_ID,City,Country,Max Temp,Lat,Lng,Hotel Name
0,0,Morant Bay,JM,87.80,17.88,-76.41,Whispering Bamboo Cove Resort
1,1,Rikitea,PF,77.85,-23.12,-134.97,Pension Maro'i
2,9,Baldeogarh,IN,87.49,24.75,79.07,ChhChhotChhChhotu
3,14,Butaritari,KI,83.48,3.07,172.79,Isles Sunset Lodge
4,21,Faanui,PF,81.79,-16.48,-151.75,Bora-Bora Pearl Beach Resort & Spa
...,...,...,...,...,...,...,...
164,557,Tecoanapa,MX,88.23,16.52,-98.75,Hotel Manglares
165,561,Kualakapuas,ID,80.60,-3.01,114.39,Guest House Izonk
166,572,Cajazeiras,BR,79.63,-6.89,-38.56,Oasis Hotel
167,574,Pascagoula,US,84.99,30.37,-88.56,Regency Inn
168,576,Batticaloa,LK,81.30,7.71,81.69,Grand Star Guest House

In [15]:
# 2. Using the template add the city name, the country code, the weather description 
#and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City<dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd> and {Max Temp} °F</dd>
</d1>
"""

# # 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# # 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]
locations

       Lat     Lng
0    17.88  -76.41
1   -23.12 -134.97
2    24.75   79.07
3     3.07  172.79
4   -16.48 -151.75
..     ...     ...
164  16.52  -98.75
165  -3.01  114.39
166  -6.89  -38.56
167  30.37  -88.56
168   7.71   81.69

[169 rows x 2 columns]

In [16]:
# 4a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)
fig
#look for code to save image to matplotlib
#fig.savefig("Desktop/Fig1.png")

Figure(layout=FigureLayout(height='420px'))

In [30]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City'] == 'Carutapera']
vacation_end = vacation_df.loc[vacation_df['City'] == 'Carutapera']
vacation_stop1 = vacation_df.loc[vacation_df['City'] == 'Humaita']
vacation_stop2 = vacation_df.loc[vacation_df['City'] == 'Belmonte'] 
vacation_stop3 = vacation_df.loc[vacation_df['City'] == 'Touros'] 
vacation_stop3

     City_ID    City Country  Max Temp  Lat    Lng       Hotel Name
102      355  Touros      BR      84.2 -5.2 -35.46  INN NEW HORIZON

In [31]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame
#using the to_numpy function and list indexing.
# Latitude-longitude pairs

start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_end["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]

start

(-1.2, -46.02)

In [32]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
vacation_itinerary = gmaps.directions_layer(start,end, waypoints=[stop1,stop2,stop3],travel_mode='DRIVING')
fig.add_layer(vacation_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [33]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1,
                         vacation_stop2, vacation_stop3]
                         ,ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Lat,Lng,Hotel Name
0,461,Carutapera,BR,82.42,-1.20,-46.02,Lidera
1,468,Humaita,BR,85.01,-7.51,-63.02,Corrêa Hotel
2,363,Belmonte,BR,78.80,-15.86,-38.88,Pousada Monte Carmelo O Pão
3,355,Touros,BR,84.20,-5.20,-35.46,INN NEW HORIZON

In [34]:
# 9 Using the template add city name, the country code, the weather description
#and maximum temperature for the city. 

info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd> and {Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]
locations

     Lat    Lng
0  -1.20 -46.02
1  -7.51 -63.02
2 -15.86 -38.88
3  -5.20 -35.46

In [35]:
# 11a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))